/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif; /* Changed to a beautiful serif font */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #062a43;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .user-account a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
}

.hero-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
}

.hero-images img.active {
    opacity: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    background-color: #062a43;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Meal Plans Section */
.meal-plans {
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.meal-plans h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #062a43;
}

.slider {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.plan {
    min-width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(73, 108, 148, 0.3) 0px 0px 0px 3px;
}

.plan img {
    width: 100%;
    border-radius: 10px;
}

.plan h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #062a43;
}

.plan p {
    font-size: 16px;
    margin: 5px 0;
    color: #062a43;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #062a43;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.meal-plans .btn {
    background-color: #062a43;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 200px;
}

/* Local Dining Options Section */
.local-dining {
    padding: 50px 20px;
    text-align: center;
}

.local-dining h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #062a43;
}

.local-dining .search-bar input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.local-dining .dining-tabs {
    margin-bottom: 20px;
}

.local-dining .tab {
    background-color: #ddd;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.local-dining .tab.active {
    background-color: #062a43;
    color: #fff;
}

.local-dining .dining-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.local-dining .dining-options :hover{
    transform: translateY(-20px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    cursor: pointer;
}

.local-dining .option {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(73, 108, 148, 0.3) 0px 0px 0px 3px;
    text-align: left;
    color: #062a43;
}

.local-dining .option img {
    width: 100%;
    border-radius: 10px;
}

.local-dining .option h3 {
    font-size: 24px;
    margin: 10px 0;
}

.local-dining .option p {
    font-size: 16px;
    margin: 5px 0;
}

/* Reservation Section */
.reservation-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: white;
}

.image-container {
    flex: 1;
    position: relative;
    height: 500px; /* Adjust height as needed */
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
}

.image-container img.active {
    opacity: 1;
}

.reservation-form {
    flex: 1;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    max-width: 500px;
}

.reservation-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #062a43;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-form form label {
    font-size: 16px;
    margin: 10px 0 5px 0;
    width: 100%;
    text-align: left;
    color: #062a43;
}

.reservation-form form input, 
.reservation-form form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    color: #062a43;
}
.reservation-form form input:focus,
.reservation-form form textarea:focus {
    border: 2px solid #062a43;
}

.reservation-form form button {
    background-color: #062a43;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reservation-form form button:hover {
    background-color: #e5533d;
}

/* Reviews Section */
.reviews {
    padding: 50px 20px;
    text-align: center;
}

.reviews h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #062a43;
}

.review-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.review {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(73, 108, 148, 0.3) 0px 0px 0px 3px;
    display: flex;
    scroll-snap-align: start;
}

.review p {
    font-size: 16px;
    color: #062a43;
}

.review p:last-child {
    font-style: italic;
}

.reviews .btn {
    background-color: #062a43;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #062a43;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .quick-links,
footer .social-media,
footer .contact-info {
    margin: 10px;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer .social-media ul {
    display: flex;
    justify-content: center;
}

footer .social-media ul li {
    margin: 0 10px;
}

footer .social-media ul li img {
    width: 24px;
}
